#sidebar .sidebar-profile .sidebar-profile-name {
    color: black;
}

#sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-icon {
    color: black;
}

#sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc {
    color: black;
}